/*External CSS*/
h2{
    color:orange;
    background-color: black;
}

#parag_id{
    font-size: small !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-style: italic;
    
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize !important;
    text-shadow: 0.5px -0.6px 5px blue;

    letter-spacing: 5px;
    word-spacing: 3px !important;
    line-height: 1.2;
 
   
}
